*{
	box-sizing: border-box;
}
#page{
	width: 100%;
}
header{
	width: 100%;
	height: 50px;
	background: #010101;
	text-align: center;
}
#page1{
	width: 1000px;
	text-align: center;
	background: red;
	margin:0px auto; 
}