*{
	box-sizing: border-box;
}
#page{
	width: 100%;
}
header{
	width: 100%;
	height: 50px;
	background: #010101;
	text-align: center;
}
#page1{
	width: 1000px;
	text-align: center;
	margin:0px auto; 
}
.clr{
	clear: both;
}
nav{
	margin-top: 50px;
}
nav ul{
	margin: 0px;
	padding: 0px;
	float: left;
}
nav ul li{
	display: inline-block;
	font-size: 1rem;
	width: 130px;
}
nav ul li a{
	font-family: Arial;
	text-decoration: none;
	font-weight: bold;
	display: block;
}
#main-nav ul li a:hover{
	background-color: cyan;
}
#ff img{
	width: 300px;
}
#banhang div {
	float: left;
	width: 250px;
}
#banhang div img{
	float: left;
}
#banhang2 div {
	float: left;
	width: 200px;
}
#banhang2 div img{
	float: left;
}